---
import Layout from '../layouts/Layout.astro';
import config from '../config';

const { brandName, introduction, skills, projects, socials } = config;
---

<Layout title="KHOI | My Page">  
        <section id="hero-section">
          <div class="container">
            <h2 id="hero-title">Hi. I am {brandName}.</h2>

            <div class="footer-container social-icons-container">
              {socials.map(item => (
                <a target="_blank" rel="noopener noreferrer" href={item.link}>
                  <i class={item.icon + " social-icons"} />
                </a>
              ))}
            </div>

            <button id="read-more">
              <span class="paragraph">Welcome to my page</span>
              <lottie-player
                src="https://assets3.lottiefiles.com/private_files/lf30_NnBW3K.json"
                background="transparent"
                speed="1"
                style="width: 4rem; margin: 0 auto"
                loop
                autoplay
              />
            </button>
          </div>
        </section>

        <section class="sections" id="introduction">
          <div class="container">
            <h2 class="title">Who am I</h2>

            <div style="display: flex; justify-content: center">
              <div class="flex-container">
                <div id="introduction-img-container">
                  <img src="/images/ava.jpg" alt="Khoi Nguyen" />
                </div>
                <div id="introduction-description-container">
                  <p class="paragraph" id="introduction-description">
                    <Fragment set:html={introduction} />
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <div class="parallax" id="parallax-skills"></div>

        <section class="sections" id="skills">
          <div class="container">
            <h2 class="title">Skills</h2>
            <lottie-player
              src="https://assets3.lottiefiles.com/packages/lf20_M4t9nS.json"
              background="transparent"
              speed="1"
              loop
              autoplay
              style="width: 12rem; margin: auto"
            ></lottie-player>

            <div id="skills-container" class="flex-container">
             {skills.map(item => (
                <div class="skills-flex">
                  <span class="iconify skill-icons" data-icon={item.icon}/>
                  <p class="small-paragraph">{item.name}</p>
                </div>
             ))}
            </div>
          </div>
        </section>

        <div class="parallax" id="parallax-projects"></div>

        <section class="sections" id="projects">
          <div class="container">
            <h2 class="title">Projects</h2>
            <lottie-player 
              src="https://assets8.lottiefiles.com/packages/lf20_ctqgzmyh.json"  
              background="transparent"  speed="1"  style="width: 16rem; margin: auto;" loop autoplay></lottie-player>

            <div class="project-cards-container">
              {projects.map(({title, description, link, image}) => (
                <div class="project-cards">
                  <p class="project-cards-title">{title}</p>
                  <img src={image} alt={ title + ' | ' + description } />
                  <p class="small-paragraph">{description}</p>
                  <a class="paragraph" href={link} target="_blank" rel="noopener noreferrer">Check it out</a>
                </div>
              ))}
            </div>
          </div>
        </section>
</Layout>
