---
import config from "../config";

const { brandName, contacts, socials } = config;
---

<footer>
    <div id="footer-flex">
      <p class="title" id="footer-brand"><span class="brand-name">{brandName}</span></p>

      <div id="contacts-container" class="footer-container">
        <p class="footer-title">Contact</p>
        {contacts.map((item) => (
            <p><a class="links" href={`mailto:${item.text}`}>{item.text}</a></p>
        ))}
      </div>
    </div>

    <div class="footer-container social-icons-container">
      {socials.map(item => (
        <a target="_blank" rel="noopener noreferrer" href={item.link}>
          <i class={item.icon + " social-icons"} />
        </a>
      ))}
    </div>

    <p class="paragraph" id="copyright">
      &copy; <span id="copyright-year">{new Date().getFullYear()}</span> |
      <span class="brand-name">{brandName}</span>. Built with
      <a
        href="https://astro.build/"
        class="links"
        target="_blank"
        rel="noopener noreferrer">Astro</a>.
      <a
        href="https://github.com/KhoiUna/my-astro-website"
        class="links"
        target="_blank"
        rel="noopener noreferrer">Clone this site</a>.
    </p>
</footer>
<style>
  footer {
    background-color: var(--theme-bg-color);
    color: #f6f6f6;
    padding: 2.5% 14%;
  }

  #footer-brand {
    text-align: left;
    padding: 1rem;
  }
  @media screen and (min-width: 500px) {
    #footer-brand {
      padding: 0;
    }

    #footer-flex {
      padding: 1.5rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: flex-start;
    }
  }

  .footer-container {
    margin: 2rem 1rem 1rem 1rem;
  }
  @media screen and (min-width: 500px) {
    .footer-container {
      margin: 0;
    }
  }

  .footer-title {
    font-size: 1.2rem;
    margin: auto auto 0.7rem auto;
    font-weight: bold;
  }

  .social-icons {
    font-size: 1rem;
    border-radius: 100%;
    border: 2px solid #f6f6f6;
    padding: 0.6rem;
    margin: 0.5rem 1rem 0.5rem 0;
    transition: all 0.4s ease 0s;
    color: #fff;
  }
  .social-icons:hover {
    background-color: #fff;
    color: var(--theme-bg-color);
  }
  i:hover {
    color: var(--theme-bg-color);
  }
  @media screen and (min-width: 500px) {
    .social-icons-container {
      margin: 1.5rem 1.5rem 0;
    }
  }

  #copyright {
    font-size: 0.9rem;
    padding: 2rem 1rem 0.5rem;
  }
  @media screen and (min-width: 500px) {
    #copyright {
      padding: 3rem 1.5rem 0.5rem 1.5rem;
    }
  }
</style>